.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 10px;
    width: 30rem;
    height: auto;
    padding: 1%;
}

.header {
    position: relative;
    display: flex;
    flex-direction: row;
}

.header img {
    width: 25px;
    height: auto;
}

.q {
    position: relative;
    display: flex;
    width: 100%;
    /* border: 1px solid black; */
}

.content h5 {
    margin: 1%;
}

.content img {
    position: relative;
    margin-left: calc(9rem);
    width: 20px;
    height: auto;
}

.mns {
    display: none;
}

.a {
    margin: 1%;
    display: none;
}

