body {
    background-image: url('images/background-pattern-desktop.svg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(275, 100%, 97%);
    font-family: 'Work Sans', sans-serif;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid black; */
    box-shadow: 2px 2px 5px hsl(292, 16%, 49%);
    border-radius: 10px;
    width: 30rem;
    height: auto;
    padding: 1%;
    background-color: white;
}

.header {
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: 800;
}

h1, h5 {
    color: hsl(292, 42%, 14%);
}

hr {
    border-top: none;
    background-color: hsl(275, 100%, 97%);
}

.header img {
    width: 30px;
    height: auto;
}

.q {
    position: relative;
    display: flex;
    width: 100%;
}

.content h5 {
    margin: 1%;
    width: 100%;
    font-size: 15px;
}

.content img {
    position: relative;
    width: 20px;
    height: auto;
    margin-left: 4rem;
}

.mns {
    display: none;
}

.a {
    margin: 1%;
    display: none;
    font-size: 15px;
    color: hsl(292, 16%, 49%);
}

.p {
    margin: 2% 0;
}

@media screen and (max-width: 600px) {

    body {
        background-image: none;
        background-image: url('images/background-pattern-mobile.svg');
        background-size: 120%;
    }

    .main {
        width: 90vw;
        height: auto;
        padding: 1%;
    }
}

